[submodule "java-microservice"]
	path = java-microservice
	url = https://github.com/apssouza22/java-microservice
[submodule "blog-microservices"]
	path = blog-microservices
	url = https://github.com/callistaenterprise/blog-microservices
[submodule "train-ticket"]
	path = train-ticket
	url = https://github.com/FudanSELab/train-ticket
[submodule "piggymetrics"]
	path = piggymetrics
	url = https://github.com/sqshq/piggymetrics
[submodule "qbike"]
	path = qbike
	url = https://github.com/JoeCao/qbike
[submodule "geocoder-microservices"]
	path = geocoder-microservices
	url = https://github.com/ammiladi/geocoder-microservices
[submodule "microservices-basics-spring-boot"]
	path = microservices-basics-spring-boot
	url = https://github.com/anilallewar/microservices-basics-spring-boot
[submodule "Basilisk"]
	path = Basilisk
	url = https://github.com/dice-group/Basilisk
[submodule "micro_webshop"]
	path = micro_webshop
	url = https://github.com/digital-thinking/micro_webshop
[submodule "microservice"]
	path = microservice
	url = https://github.com/ewolff/microservice
[submodule "microservice-consul"]
	path = microservice-consul
	url = https://github.com/ewolff/microservice-consul
[submodule "microservice-kafka"]
	path = microservice-kafka
	url = https://github.com/ewolff/microservice-kafka
[submodule "scaffold-cloud"]
	path = scaffold-cloud
	url = https://github.com/Fatezhang/scaffold-cloud
[submodule "spring-netflix-oss-microservices"]
	path = spring-netflix-oss-microservices
	url = https://github.com/fernandoabcampos/spring-netflix-oss-microservices
[submodule "website"]
	path = website
	url = https://github.com/flowant/website
[submodule "Tap-And-Eat-MicroServices"]
	path = Tap-And-Eat-MicroServices
	url = https://github.com/jferrater/Tap-And-Eat-MicroServices
[submodule "spring-boot-microservices-workshop"]
	path = spring-boot-microservices-workshop
	url = https://github.com/koushikkothagal/spring-boot-microservices-workshop
[submodule "spring-cloud-movie-recommendation"]
	path = spring-cloud-movie-recommendation
	url = https://github.com/mdeket/spring-cloud-movie-recommendation
[submodule "DentalAppointment"]
	path = DentalAppointment
	url = https://github.com/novelvast/DentalAppointment
[submodule "jhipster-microservices-example"]
	path = jhipster-microservices-example
	url = https://github.com/oktadeveloper/jhipster-microservices-example
[submodule "sample-spring-cloud-webflux"]
	path = sample-spring-cloud-webflux
	url = https://github.com/piomin/sample-spring-cloud-webflux
[submodule "sample-spring-microservices-new"]
	path = sample-spring-microservices-new
	url = https://github.com/piomin/sample-spring-microservices-new
[submodule "spring-boot-microservices"]
	path = spring-boot-microservices
	url = https://github.com/rohitghatol/spring-boot-microservices
[submodule "springcloudmicroservices"]
	path = springcloudmicroservices
	url = https://github.com/umarafzl/springcloudmicroservices
